.user-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  max-width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}
.user-list label {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  margin: 10px auto;
  text-align: left;
  padding: 5px;
}
